<div class="user-form" id="user-register-form">
    <div class="left">
        <div class="form-login">
            <h3 class="title">Sign up</h3>
            <form id="frmRegister">
                <div class="form-group">
                    <label for="inputFirstNameRegister">First Name</label>
                    <input class="form-control" id="inputFirstNameRegister" name="FirstName" type="text" placeholder="Edward" required>
                </div>
                <div class="form-group">
                    <label for="inputLastNameRegister">Last Name</label>
                    <input class="form-control" id="inputLastNameRegister" name="LastName" type="text" placeholder="Wong" required>
                </div>
                <div class="form-group">
                    <label for="inputEmailRegister">Email address</label>
                    <input class="form-control" id="inputEmailRegister" name="Email" type="email" placeholder="edward.wong@gmail.com">
                </div>
                <div class="form-group">
                    <label for="inputMobilePhone">Mobile phone</label>
                    <input class="form-control" id="inputMobilePhone" name="Phone" type="number" placeholder="+852 6737 7406">
                </div>
                <div class="form-group">
                    <label for="inputPasswordRegister">Password</label>
                    <input class="form-control" id="inputPasswordRegister" name="Password" type="password" placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="inputConfirmPasswordRegister">Confirm Password</label>
                    <input class="form-control" id="inputConfirmPasswordRegister" type="password" placeholder="" required>
                </div>
                <button class="aq-btn-login" type="submit" id="registerSubmit">Submit</button>
            </form><span class="btn-close">
                <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21 2.1L18.9 0L10.5 8.4L2.1 0L0 2.1L8.4 10.5L0 18.9L2.1 21L10.5 12.6L18.9 21L21 18.9L12.6 10.5L21 2.1Z" fill="black" />
                </svg>
            </span>
        </div>
    </div>
    <div class="right"><img src="~/images/banner-login.jpg" alt="banner login"></div>
</div>