<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <activePackageSource>
	<add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="AQNugets" value="http://115.75.195.93/aq-package/nuget" />
  </packageSources>
  <packageSourceCredentials>
    <AQNugets>
        <add key="Username" value="aqroot" />
		<add key="ClearTextPassword" value="VnpsRk5FNVUyV0FxV1VqbGVrVkxNVEpX" />       
    </AQNugets>
  </packageSourceCredentials>
  <apikeys>
    <add key="http://115.75.195.93/aq-package/nuget" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAjyMcHST7gEiRYGCzlV2YFAAAAAACAAAAAAAQZgAAAAEAACAAAAAkIhyF2ODbGZuvaWw0WzOXZgqebLzLj99++VGp42EhYAAAAAAOgAAAAAIAACAAAACHV8vTiqNJX7y4R3QC2XbLq8QEhH4J7hlz2huA6HMb9EAAAAAalMWPk0cfXwf09ck4mhy1bNbkueNGMObos6rd2ft0VNqzFMyQg8bvFDy05p+3ITxRrdMieCFprfjPSZL+Hb54QAAAAKPSeWo/UoZ+1bLswK1xt2wZyvMICD8Z05cpSMGMay2388677venn3yPObzhuZhB3Ka7A+6fGAK/bJTemkwtsAM=" />
  </apikeys>
  <packageRestore>
	<!-- Allow NuGet to download missing packages -->
	<add key="enabled" value="True" />

	<!-- Automatically check for missing packages during build in Visual Studio -->
	<add key="automatic" value="True" />
  </packageRestore>
</configuration>