@inject IWorkContext WorkContext
@if (WorkContext.IsComingSoon)
{
    <section class="banner-mid-coming have-bg" style="background-image:url(@Url.Content("~/images/banner-mid-coming.png"))">
        <div class="content">
            <h4 class="sub-title" style="text-transform: uppercase;" data-aos="fade-up" data-aos-duration="600" data-aos-offset="-1000">@R("TRAVELBLOG")</h4>
            <h3 class="title" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200" data-aos-offset="-1000">@R("EXPERIENCE")</h3>
            <p class="text" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400" data-aos-offset="-1000">@R("ATTRACTIVE")</p>
        </div>
    </section>
}
else
{
    <section class="home-block-6 have-bg" style="background-image:url(/images/home/block-6.jpg)">
        <div class="content">
            <h3 class="sub-title" data-aos="fade-up" data-aos-duration="600" data-aos-offset="-1000">reward program</h3>
            <h2 class="title" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200" data-aos-offset="-1000">A lifestyle reward program that goes beyond hotels and offers. </h2>
            <p class="text" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400" data-aos-offset="-1000">Join for FREE and get up to 10% extra off your next booking.</p><a class="button" href="#" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="600" data-aos-offset="-1000">
                join for free<svg width="36" height="25" viewBox="0 0 36 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M35.7804 12.3587L24.5377 1.1161C24.3225 0.902344 24.0026 0.837207 23.7208 0.953568C23.4405 1.06923 23.2583 1.34299 23.2583 1.64598V3.14497C23.2583 3.34404 23.3373 3.53439 23.4779 3.67492L31.1926 11.3896H0.772971C0.358679 11.3897 0.0234375 11.7249 0.0234375 12.1392V13.6382C0.0234375 14.0525 0.358679 14.3877 0.772971 14.3877H31.1926L23.4779 22.1024C23.3373 22.2429 23.2583 22.4332 23.2583 22.6324V24.1314C23.2583 24.4344 23.4406 24.7081 23.7208 24.8238C23.8138 24.8625 23.9111 24.8809 24.0077 24.8809C24.2025 24.8809 24.3942 24.8048 24.5377 24.6613L35.7804 13.4186C36.0732 13.1258 36.0732 12.6515 35.7804 12.3587Z" fill="white" />
                </svg>
            </a>
        </div>
    </section>
}